# Git
.git
.gitignore

# Python
*.pyc
__pycache__/
venv/

# IDE
.vscode/
.idea/

# Env files
.env
.env.local
.env.*

# Other
*.log
*.DS_Store

# Exclude Android app
android_app/

# Exclude plan directory
plan/
