# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Data and model outputs
data/
*.pth
*.png
best_params.json
loss_weights.json
sensitivity_analysis.png
model_analysis_plots.png

models/

# Android build outputs and caches
android_app/java_pid1361541.hprof
android_app/app/build/
android_app/.gradle/