fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic[email]

pytest
httpx

pydantic-settings

pandas

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.7.1+cpu
